:root {
  /* ========== Spacing ========== */

  /* Size */
  --sizeXXS: 4px;
  --sizeXS: 8px;
  --sizeSM: 12px;
  --size: 16px;
  --sizeMD: 20px;
  --sizeLG: 24px;
  --sizeXL: 32px;
  --sizeXXL: 48px;

  /* Padding */
  --paddingXXS: 4px;
  --paddingXS: 8px;
  --paddingSM: 12px;
  --padding: 16px;
  --paddingMD: 20px;
  --paddingLG: 24px;
  --paddingXL: 32px;
  --paddingXXL: 48px;

  /* Margin */
  --marginXXS: 4px;
  --marginXS: 8px;
  --marginSM: 12px;
  --margin: 16px;
  --marginMD: 20px;
  --marginLG: 24px;
  --marginXL: 32px;
  --marginXXL: 48px;

  /* ========== Control Height ========== */

  --controlHeightXS: 16px;
  --controlHeightSM: 24px;
  --controlHeight: 32px;
  --controlHeightLG: 40px;

  /* ========== Border Radius ========== */

  --borderRadiusXS: 2px;
  --borderRadiusSM: 4px;
  --borderRadius: 6px;
  --borderRadiusLG: 8px;

  /* ========== Font Size ========== */

  --fontSizeXS: 12px;
  --fontSizeSM: 13px;
  --fontSize: 14px;
  --fontSizeMD: 15px;
  --fontSizeLG: 16px;
  --fontSizeXL: 18px;
  --fontSizeXXL: 20px;

  /* ========== Line Height ========== */

  --lineHeightSM: 1.2;
  --lineHeight: 1.5;
  --lineHeightLG: 1.8;
}
